body {
    background-color: #f8f8f8;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 80px;
}

.poster {
    background: linear-gradient(to right, rgb(162, 162, 39), rgb(164, 5, 5));
    padding: 40px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.poster h1 {
    color: #0f0c0c;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

.poster p {
    color: #d6caca;
    font-size: 18px;
    font-style: italic;
}